.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #007bff;
}

@media screen and (max-width: 768px) {
    .counter {
        background-color: #f5f5f5;
        padding: 5px 0;
        border-radius: 5px;
    }

    .count-title {
        font-size: 20px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 0;
        text-align: center;
    }

    .count-text {
        font-size: 10px;
        font-weight: normal;
        margin-top: 5px;
        margin-bottom: 0;
        text-align: center;
    }

    .counter .fa-2x {
        font-size: 1rem;
        margin: 0 auto;
        float: none;
        color: #007bff;
    }

    .counter-container .col {
        padding-left: 5px;
        padding-right: 5px;
    }
}