<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Homepage of Nikita Skybytskyi</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <style type="text/css" src="../assets/article.css"></style>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar static-top navbar-expand-md navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-fill w-100" id="navbarToggle">
                <a class="active nav-item nav-link" href="#"><i class="fa fa-home"></i></a>
                <a class="nav-item nav-link" href="#education"><i class="fa fa-graduation-cap"></i></a>
                <a class="nav-item nav-link" href="#programming"><i class="fa fa-laptop-code"></i></a>
                <a class="nav-item nav-link" href="#teaching"><i class="fa fa-chalkboard-teacher"></i></a>
                <a class="nav-item nav-link" href="#languages"><i class="fa fa-book"></i></a>
                <a class="nav-item nav-link" href="#sports"><i class="fa fa-bicycle"></i></a>
                <a class="nav-item nav-link" href="#music"><i class="fa fa-music"></i></a>
                <a class="nav-item nav-link" href="#art"><i class="fa fa-paint-brush"></i></a>
                <a class="nav-item nav-link" href="#other"><i class="fa fa-ellipsis-h"></i></a>
            </div>
        </div>
    </nav>

    <main role="main" class="container">
        {{ content }}
    </main>

    <footer>
      <div class="container mt-3 pt-3 pb-3 border-top">
        <div class="text-muted text-center">
          <small>n.skybytskyi@gmail.com | +380-98-519-37-45</small>
        </div>
      </div>
    </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- Font Awesome -->
<script src="https://use.fontawesome.com/45e3172226.js"></script>
<script src="https://kit.fontawesome.com/d8562e8ffa.js" crossorigin="anonymous"></script>

</body>
</html>
